{# --- simple page navigation --- #}
<nav>
    <ul>
        <li>
            <a href="/" title="" data-content="Home">Home</a>
        </li>
        <li>
            <a href="/about/" title="" data-content="About">About</a>
        </li>
        <li>
            <a href="/work/" title="" data-content="Work">Work</a>
        </li>
    </ul>
</nav>