// Variables
// All custom variables goes here
// eg. fonts, z-index, media breakpoints, asset directories, etc.

// Assets path
$path-to-assets: '/assets/';
$img-path: $path-to-assets + 'img/';
$svg-path: $path-to-assets + 'svg';

// Fonts name, family and sizes
$font-name: 'Roboto';
$font-stack: $font-name, system-ui, sans-serif;
$browser-font-size: 62.5%;
$font-size-default: 16px;

$font-size-medium: 1.8rem;
$font-size-large: 2.4rem;
$font-size-extra: 3.6rem;
$font-size-extreme: 4.8rem;

// Line height
$line-height: 1.168em;

// Breakpoints
$breakpoint-desktop: 1300px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-wide: 1600px;

// Import color module
@import 'colors';
